root = true

[*]
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
quote_type = single
spaces_around_brackets = none

[*.md]
trim_trailing_whitespace = false
